@use '~/styles/base/variables' as *;
@use '~/styles/base/mixins' as *;
@use '~/styles/base/functions' as *;

.page {
  width: 100%;
}

.inner {
  padding: 0 calc(var(--padding-side) * 1px);
}

.kv {
  display: flex;
  align-items: center;
  width: 100%;
  height: 200px;
}

.copy {
  font-size: 32px;
  font-weight: 700;
}
