---
import styles from "~/styles/components/GlobalHeader.module.scss";
---

<header class={styles.root}>
  <div class={styles.inner}>
    <a href="/">
      <h1>Astro Template</h1>
    </a>
    <a href="/about">About</a>
  </div>
</header>
